<div class="ms-auto pointer" data-bs-target="#dropdownMenu4" data-bs-toggle="collapse" aria-expanded="false" aria-controls="dropdownMenu4">
    <i class="ti-more-alt text-grey-900 btn-round-md bg-greylight font-xss"></i>
</div>
<div class="collapse p-4 right-0 rounded-xxl border-0 shadow-lg" id="dropdownMenu4">
    <div class="card-body p-0 d-flex">
        <i class="feather-bookmark text-grey-500 me-3 font-lg"></i>
        <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4 pointer">Save Link <span class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Add this to your saved items</span></h4>
    </div>
    <div class="card-body p-0 d-flex mt-2">
        <i class="feather-alert-circle text-grey-500 me-3 font-lg"></i>
        <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4 pointer">Hide Post <span class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Save to your saved items</span></h4>
    </div>
    <div class="card-body p-0 d-flex mt-2">
        <i class="feather-alert-octagon text-grey-500 me-3 font-lg"></i>
        <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4 pointer">Hide all from Group <span class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Save to your saved items</span></h4>
    </div>
    <div class="card-body p-0 d-flex mt-2">
        <i class="feather-lock text-grey-500 me-3 font-lg"></i>
        <h4 class="fw-600 mb-0 text-grey-900 font-xssss mt-0 me-4 pointer">Unfollow Group <span class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Save to your saved items</span></h4>
    </div>
</div>