@model int

<div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left pe-0" style="max-width: 97%;">
        <div class="row">
            <div class="col-lg-12 position-relative">
                <div class="chat-wrapper pt-0 w-100 position-relative scroll-bar bg-white theme-dark-bg">
                    <div class="chat-body p-3 ">
                        <div class="messages-content pb-5" id="messagePanel"></div>
                        <!--<div class="clearfix"></div>-->
                    </div>
                </div>
                <div class="chat-bottom dark-bg p-3 shadow-none theme-dark-bg" style="width: 98%;">
                    <form class="chat-form">
                        <button class="bg-grey float-left">
                            <i class="ti-microphone text-grey-600"></i>
                        </button>
                        <div class="form-group" onclick="document.getElementById('messageInput').focus();">
                            <input style="color: black;" id="messageInput" type="text" placeholder="Start typing..">
                        </div>
                        <button class="bg-current" id="sendButton">
                            <i class="ti-arrow-right text-white"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
var tempId = @Html.Raw(Json.Serialize(Model))
var userId = tempId.toString();

document.getElementById("sendButton").addEventListener("click", function (event) {

    var messageContent = document.getElementById("messageInput").value.toString();
    var message = null;
    document.getElementById("messageInput").value = "";

    connection.invoke("SendMessage", userId, messageContent, message)
        .catch(function (err) {
            return console.error(err.toString());
        });

    $.ajax({
        url: "/Database/GetCurrentUser",
        method: "GET",
        success: function(user) { 
            var imgPath = user.imageUrl;
            if (imgPath == null) imgPath = "/images/defaultImage.png";

            var today = new Date();
            var timeStr = `${today.getHours()}:${today.getMinutes()}`;

            let content = `<div class="message-item outgoing-message">
                                <div class="message-user">
                                    <figure class="avatar">
                                        <img src="${imgPath}" alt="${user.username}">
                                    </figure>
                                    <div>
                                        <h5>${user.username}</h5>
                                        <div class="time">${timeStr}
                                            <i class="ti-double-check notReady text-black-50"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="message-wrap">${messageContent}</div>
                            </div>`;

            document.getElementById("messagePanel").innerHTML += content; 
        },
        error: function(err) { }
    });

    event.preventDefault();
});
//document.getElementById("sendButton").addEventListener("click", function (event) {
//    var message = document.getElementById("messageInput").value;
//    connection.invoke("SendMessage", userId, message)
//        .catch(function (err) { return console.error(err.toString()); });

//    event.preventDefault();
//});
</script>